.container {
      display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.gallery {
display: flex;
flex-wrap: wrap;
gap: 16px;
  
}

.gallery-item {
  flex-basis: calc((100% / 4) - 16px);
  display: block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item .info {
  padding: 8px;
  background-color: #fff;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.info {
  color: #000000;
}
input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #808080;
  outline: none;
}

input:hover, input:focus {
  border-color: #000000;
}

input:not(:placeholder-shown) {
  border-color: #4E75FF;
}

.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader.hidden {
  display: none;
}

.btn-search {
  background-color: #4E75FF;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  color: #f3f3f3;
}

.btn-search:hover, .btn-search:focus {
  background-color: #6C8CFF;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}